<!-- templates/about_section.html -->
<!-- About Section -->
<section class="about-us mt-5">
    <div class="container">
        <h2>About FurniFlex</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="/static/img/car-icon-hi.png" alt="About FurniFlex" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p>Welcome to FurniFlex, where university students connect to buy and sell furniture, books, and more as they move in or out. </p>
                <p>Whether you're looking to furnish your new space or find a new home for your belongings.  FurniFlex makes it easy. Say goodbye to unwanted items and hello to great deals with our convenient platform designed specifically for student needs.</p>
                <p>Join us and flex your hassle-free move!</p>
            </div>
        </div>
    </div>
</section> <!-- End of About Section -->
