<!-- templates/item_details.html -->

{% extends 'base.html' %}

{% block title %}{{ item.make }} {{ item.model }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- item details on the left -->
        <div class="col-md-6">
            <h2>{{ item.make }} {{ item.model }} ({{ item.year }})</h2>
            <p><strong>Year:</strong> {{ item.year }}</p>
            <p><strong>Model:</strong> {{ item.model }}</p>
            <p><strong>Body Styles:</strong> {{ item.body_styles }}</p>
            <!-- Add more details as needed -->
            <h5 class="mt-4">Schedule an Appointment</h5>
            {% include '_booking_form.html' %}
        </div>

        <!-- Item image on the right -->
        <div class="col-md-6">
            <img src="{{ item.image }}" alt="{{ item.make }} {{ item.model }}" class="img-fluid">
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/book_test_drive.js') }}"></script>
{% endblock %}

